html {
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Mulish", sans-serif;
}

.main-container {
	position: relative;
	height: inherit;
	width: 100vw;
	max-height: 100vh;
	display: flex;
	transition: all 0.5s;

	/* overflow-x: scroll; */
	/* -ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
	scroll-behavior: smooth; */

	/* 	&::-webkit-scrollbar {
		display: none;
	} */
	overflow: hidden;
}

.container {
	padding: 50px;
	min-width: 100vw;
}

.section {
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
}
