@import "./variables";
@import "./mixin";

.section6 {
	/* display: none; */
	@include repeatContainer;
	min-width: 100vw;

	.container {
		grid-template-columns: minmax(200px, 300px) auto;
	}

	&__left-box {
		position: relative;
		padding: 30px;
		z-index: 1;

		&__cards-performance {
			position: absolute;
			right: -50px;
			bottom: 70px;

			.card {
				height: max-content;
				padding: 30px;
				width: 250px;
				background-color: $primary-color;

				&__title {
					color: $primary-text-color;
					padding-bottom: 10px;
					border-bottom: 1px solid $fourth-color;
					font-size: 1.4rem;
					margin: 0;
					font-weight: bold;

					span {
						display: block;
						font-size: 1.1rem;
						margin-top: 20px;
						color: $secondary-text-color;
					}
				}

				&__number {
					font-size: 2rem;
					margin: 0;
					color: $secondary-text-color;
				}

				&__info {
					color: $primary-text-color;
					font-size: 0.9rem;
					line-height: 1.5;
				}
			}
		}
	}

	&__right-box {
		background-image: var(--bg-img);
		@include addBg-img;
		background-position: top;
		position: relative;
		padding: 30px;
		display: flex;
		align-items: flex-end;
		&__title {
			h2 {
				color: $secondary-text-color;
				font-size: 2.5rem;
			}
			h3 {
				color: $primary-text-color;
				font-size: 1rem;
			}
		}

		&__cards-performance {
			display: flex;
			height: 100%;
			max-width: 540px;
			flex-wrap: wrap;
			gap: 20px;
			margin-left: 100px;
			.card {
				height: max-content;
				padding: 25px 20px;
				width: 250px;
				background-color: $secondary-color;

				&:first-child {
					align-self: flex-end;
				}

				&__title {
					color: $primary-text-color;
					padding-bottom: 10px;
					border-bottom: 1px solid $fourth-color;
					font-size: 1.15rem;
					margin: 0;
					font-weight: 800;
				}

				&__number {
					text-align: center;
					font-size: 1.4rem;
					margin: 0;
					color: $secondary-text-color;

					span {
						font-size: 2rem;
						color: #b3a79c;
						margin-left: -15px;
					}
				}

				&__info {
					color: $primary-text-color;
					font-size: 0.8rem;
					line-height: 1.5;
				}
			}
		}
	}
}
