@import "./variables";
@import "./mixin";

.section12 {
	/* display: none; */
	@include repeatContainer;
	min-width: 100vw;

	.container {
		grid-template-columns: repeat(2, minmax(400px, 1fr));
	}

	&__left-box {
		background-color: $primary-color;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 50px;
		z-index: 1;

		.title {
			h2 {
				font-size: 2.8rem;
				max-width: 400px;
				color: $secondary-text-color;
			}
		}

		.brand {
			display: flex;
			max-width: 200px;
			justify-content: center;
			align-items: center;
			.box-brand {
				width: 75%;
			}
			.box-icon {
				width: 25%;
			}
			img {
				width: 100%;
			}
		}
	}

	&__right-box {
		@include addBg-img(var(--bg-img));
		position: relative;
		padding: 30px;
		display: flex;
		align-items: flex-end;
	}
}
