$primary-color: #f0ece8;
$secondary-color: #ffffff;
$thrird-color: #80663c;

$primary-text-color: #4b5b73;
$secondary-text-color: #80663c;
$thrird-text-color: #dad3cc;

$textColor: #ffffff;

/* Fonts */

@font-face {
	font-family: "Guther";
	src: url("../assets/fonts/Guther.ttf") format("truetype");
}

$GutherFont: "Guther", sans-serif;
